{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'create_task' %}" style="font-size: 25px">Create Task</a>
    <br>
    <br>

    <h2>Your Tasks</h2>
    {% for task in tasks %}
        <div class="task" style="border: 1px solid #000; margin: 5px; padding: 5px">
        <p>Phone brand: {{ task.brand }}</p>
        <p>Phone Problem: {{ task.problem }}</p>
        <p>Task Status: {{ task.status }}</p>

        <a href="/{{ task.id }}"><button>Update</button></a>
            {% if task.status != 'in progress' or task.status != 'done' and user.is_master %}

        <a href="/delete/{{ task.id }}"><button>Delete</button></a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}